@font-face {
	font-family: "Enter Command";
	src: url(./EnterCommand.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: "Enter Command";
	font-size: 25px;
	user-select: none;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

canvas {
	width: 80vw;
	border: 0.1vw solid #ddd;
	background-color: #eee;
}

.info {
	position: absolute;
	width: 150px;
}

.info div {
	display: flex;
	justify-content: space-between;
}

#player {
	top: 10px;
	left: 10px;
}

#game {
	top: 10px;
	right: 10px;
}

#keys {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.row {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.key {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 0.1vw solid #000;
	background-color: #fff;
}

.key svg {
	width: 50%;
	height: 50%;
}

.key.active {
	background-color: #000;
	fill: #fff;
}

#ball {
	border-radius: 50%;
}
